@import "details.css";

body {
    background-color: #8f5656
}


h1, h2, h3 {
    color: #FFE4E1;
    font-family: cursive;
    margin-bottom: 1%;
}

.messageForm {
    display: flex;
    justify-content: center
}

h1 {
    text-align: center;
    font-size: 60pt;
    margin-top: 1%;
}

h2 {
    font-size: 50pt;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 30pt;
}

label {
    color: #FFFFF0
}


p {
    margin-left: 5%;
    color: #800000;
    font-size: 15pt;
}



textarea {
    background-color: #F8F8FF;
    border: 2px solid;
    border-color: black;
}



.button {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: #8B0000;
    color: lightgoldenrodyellow;
    font-size: 1rem
} 

.all{
    display: flex;
    justify-content: center;
    
}


.message {
    border: 3px solid;
    border-color: black; 
    margin-bottom: 2%;
    width: 60%; 
    background-color: #BC8F8F;

}


.header, .subject, .body {
    font-size: 13pt;
}

#author, #recipient {
    width: 30%;
    height: 50%
}

.label {
    font-size: 10pt
}