@import "details.css";

body {
    background-color: #8f5656
}



/* This is letterForm content. */

h1, h2, h3 {
    color: #FFE4E1;
    font-family: cursive;
    margin-bottom: 1%;

}

h1 {
    text-align: center;
    font-size: 60pt;
    margin-top: 1%;
}

h2 {
    font-size: 50pt;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 30pt;
}


label {
    color: #FFFFF0;

}


textarea {
    background-color: #F8F8FF;
    border: 2px solid;
    border-color: black;
}

.messageForm {
    display: flex;
    justify-content: center
}

#heads{
    display: flex;
    justify-content: space-between;
}

#author, #recipient {
    width: 100%;
}

#middle{
    display:flex;
    justify-content: center;
}

#cent{
    display: flex;
    justify-content: center;
}

#hi{
    display: flex;
    justify-content: flex-end;
}


/* This is submission content. */

h6{
    font-family: Inter,sans-serif;
    font-size: 13px;
}

p {
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    font-size: 15pt;
    /*color: #800000; */
}



.all{
    display: flex;
    justify-content: center;
    
}


.message {
    border: 2px solid;
    border-color: black; 
    margin-bottom: 2%;
    width: 60%; 
    background-color: #BC8F8F;

}


.header, .subject, .body {
    font-size: 13pt;
}


#date{
    display: flex;
    justify-content: flex-end;
}


